<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>YOUR_CLIENT_ID.apps.googleusercontent.com</string>
    <key>REDIRECT_URI</key>
    <string>com.gofast:/oauth2redirect</string>
    <key>AUTH_ENDPOINT</key>
    <string>https://accounts.google.com/o/oauth2/v2/auth</string>
    <key>TOKEN_ENDPOINT</key>
    <string>https://oauth2.googleapis.com/token</string>
    <key>SCOPES</key>
    <array>
        <string>https://www.googleapis.com/auth/calendar.readonly</string>
    </array>
</dict>
</plist>